In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('im.db')
cur = conn.cursor()

In [3]:
df_gross = pd.read_csv('bom.movie_gross.csv')
df_info = pd.read_csv('rt.movie_info.tsv',sep = '\t',encoding = 'unicode_escape')
df_reviews = pd.read_csv('rt.reviews.tsv',sep = '\t',encoding = 'unicode_escape')
df_movies = pd.read_csv('tmdb.movies.csv')
df_budgets = pd.read_csv('tn.movie_budgets.csv')

In [4]:
df_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [5]:
df_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [6]:
df_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [11]:
df_movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [8]:
df_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [ ]:
### Looks like df_budgets has a lot of info about budget and sales
###

In [35]:
### IMDB seems a very complete databse, with info about actors in each movie, etc, so let's start by fetching the basic info
q = "SELECT * FROM movie_basics"
cur.execute(q)

In [36]:
basic = cur.fetchall()

In [37]:
df_movie_basic = pd.DataFrame(basic,columns = [column_id[0] for column_id in cur.description])

In [38]:
df_movie_basic

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [45]:
### going to lower the titles to avoud issues, for the budgets df also
df_movie_basic['title_lower'] = [x.lower() for x in df_movie_basic.primary_title]
df_budgets['movie_lower'] = [x.lower() for x in df_budgets.movie]

In [46]:
df_budgets

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,movie_lower
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",avatar
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",pirates of the caribbean: on stranger tides
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",dark phoenix
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",avengers: age of ultron
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",star wars ep. viii: the last jedi
...,...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0,red 11
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495",following
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338",return to the land of wonders
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0,a plague so pleasant
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041",my date with drew

In [50]:
df_movie_basic.merge(df_budgets, left_on = 'title_lower', right_on = 'movie_lower')

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,title_lower,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,movie_lower
0,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",foodfight!,26,"Dec 31, 2012",Foodfight!,"$45,000,000",$0,"$73,706",foodfight!
1,tt0293429,Mortal Kombat,Mortal Kombat,2021,NaN,"Action,Adventure,Fantasy",mortal kombat,10,"Aug 18, 1995",Mortal Kombat,"$20,000,000","$70,433,227","$122,133,227",mortal kombat
2,tt0326592,The Overnight,The Overnight,2010,88.0,None,the overnight,21,"Jun 19, 2015",The Overnight,"$200,000","$1,109,808","$1,165,996",the overnight
3,tt3844362,The Overnight,The Overnight,2015,79.0,"Comedy,Mystery",the overnight,21,"Jun 19, 2015",The Overnight,"$200,000","$1,109,808","$1,165,996",the overnight
4,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",on the road,17,"Mar 22, 2013",On the Road,"$25,000,000","$720,828","$9,313,302",on the road
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3886,tt9678962,Fuel,Fuel,2018,NaN,"Documentary,Sport",fuel,35,"Nov 14, 2008",Fuel,"$2,500,000","$174,255","$174,255",fuel
3887,tt9729206,Diner,Diner,2019,NaN,Crime,diner,11,"Apr 2, 1982",Diner,"$5,000,000","$12,592,907","$12,592,907",diner
3888,tt9805168,Traitor,Traitor,2015,110.0,"Action,Drama,Romance",traitor,25,"Aug 27, 2008",Traitor,"$22,000,000","$23,530,831","$27,882,226",traitor
3889,tt9844102,Ray,Ray,2018,111.0,Crime,ray,8,"Oct 29, 2004",Ray,"$40,000,000","$75,305,995","$124,823,094",ray
3890,tt9893078,Sublime,Sublime,2019,NaN,Documentary,sublime,30,"Mar 13, 2007",Sublime,"$1,800,000",$0,$0,sublime

In [55]:
### let's look at actors
q = """SELECT * FROM movie_basics
     JOIN principals ON movie_basics.movie_id = principals.movie_id
     JOIN persons    ON principals.person_id = persons.person_id;"""
cur.execute(q)
df_movie_actors = pd.DataFrame(cur.fetchall())

In [58]:
df_movie_actors.head(50)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,1,nm0474801,actor,None,"[""Kundan S. Prasad"",""Bajrangi""]",nm0474801,Dilip Kumar,1922.0,NaN,"actor,writer,director"
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,2,nm0904537,actress,None,"[""Munni"",""Laila-E-Aasmaan""]",nm0904537,Vyjayanthimala,1933.0,NaN,"actress,music_department,miscellaneous"
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,3,nm0756379,actor,None,"[""Ganeshi N. Prasad""]",nm0756379,Balraj Sahni,1913.0,1973.0,"actor,writer,director"
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,4,nm0474876,actor,None,"[""Dwarka N. Prasad""]",nm0474876,Sanjeev Kumar,1938.0,1985.0,actor
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,5,nm0712540,director,None,None,nm0712540,Harnam Singh Rawail,1921.0,2004.0,"director,writer,producer"
5,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,6,nm0023551,writer,dialogue,None,nm0023551,Abrar Alvi,1927.0,2009.0,"writer,actor,director"
6,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,7,nm1194313,writer,story,None,nm1194313,Mahasweta Devi,1926.0,2016.0,writer
7,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,8,nm0347899,writer,dialogue,None,nm0347899,Gulzar,1936.0,NaN,"music_department,writer,soundtrack"
8,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,9,nm1391276,writer,screenplay,None,nm1391276,Anjana Rawail,NaN,NaN,"writer,costume_designer"
9,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,10,nm0006210,composer,None,None,nm0006210,Naushad,1919.0,2006.0,"composer,soundtrack,music_department"
10,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,1,nm0045119,actress,None,None,nm0045119,Aruna Irani,1946.0,NaN,"actress,producer,director"
11,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,2,nm0451809,actor,None,"[""Kalidasa""]",nm0451809,Arun Khopkar,1945.0,NaN,"director,actor,assistant_director"
12,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,3,nm0754829,actress,None,"[""Mallika""]",nm0754829,Rekha Sabnis,NaN,NaN,"actress,assistant_director"
13,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,4,nm0794511,actor,None,"[""Vilom""]",nm0794511,Om Shivpuri,1938.0,1990.0,actor
14,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,5,nm0002411,director,None,None,nm0002411,Mani Kaul,1944.0,2011.0,"director,writer,actor"
15,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,6,nm2600399,composer,None,None,nm2600399,Jaidev Verma,NaN,NaN,"composer,music_department,soundtrack"
16,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,7,nm0536728,cinematographer,director of photography,None,nm0536728,K.K. Mahajan,1944.0,2007.0,"cinematographer,producer"
17,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,1,nm0001379,actor,None,"[""Jake Hannaford""]",nm0001379,John Huston,1906.0,1987.0,"actor,director,writer"
18,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,2,nm0462648,actress,None,"[""The Actress""]",nm0462648,Oja Kodar,1941.0,NaN,"actress,writer,director"
19,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,3,nm0000953,actor,None,"[""Brooks Otterlake""]",nm0000953,Peter Bogdanovich,1939.0,NaN,"actor,director,writer"
20,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,4,nm0001782,actress,None,"[""Julie Rich""]",nm0001782,Susan Strasberg,1938.0,1999.0,actress
21,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,5,nm0000080,director,None,None,nm0000080,Orson Welles,1915.0,1985.0,"actor,director,writer"
22,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6,nm0550881,producer,producer,None,nm0550881,Frank Marshall,1946.0,NaN,"producer,miscellaneous,director"
23,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,7,nm1475059,producer,producer,None,nm1475059,Filip Jan Rymsza,1977.0,NaN,"producer,writer,director"
24,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,8,nm0006166,composer,None,None,nm0006166,Michel Legrand,1932.0,2019.0,"composer,soundtrack,music_department"
25,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,9,nm0004372,cinematographer,None,None,nm0004372,Gary Graver,1938.0,2006.0,"cinematographer,director,camera_department"
26,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,10,nm0613657,editor,None,None,nm0613657,Bob Murawski,1964.0,NaN,"editor,producer,editorial_department"
27,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,1,nm0037026,actor,None,"[""Shankar (Bhompu)""]",nm0037026,Vijay Arora,1944.0,2007.0,actor
28,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,2,nm2147526,actor,None,"[""Asrani, Movie Director""]",nm2147526,Asrani,1941.0,NaN,"actor,director,writer"
29,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,3,nm1027929,actress,None,"[""Urvashi, Movie Actress""]",nm1027929,Rajni Bala,NaN,2010.0,actress
30,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,4,nm1875977,actress,None,None,nm1875977,Kumud Damle,NaN,NaN,actress
31,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,5,nm0611531,director,None,None,nm0611531,Hrishikesh Mukherjee,1922.0,2006.0,"director,editor,writer"
32,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,6,nm0347899,writer,dialogue,None,nm0347899,Gulzar,1936.0,NaN,"music_department,writer,soundtrack"
33,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,7,nm0006005,composer,None,None,nm0006005,Salil Choudhury,1923.0,1995.0,"composer,soundtrack,music_department"
34,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,8,nm0244884,actor,None,"[""Vedji""]",nm0244884,Utpal Dutt,1929.0,1993.0,"actor,director,writer"
35,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,9,nm1877741,actress,None,None,nm1877741,Meeta Faiyyaz,NaN,NaN,actress
36,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,10,nm0315917,actor,None,"[""Lalloo""]",nm0315917,Rabi Ghosh,1931.0,1997.0,"actor,director,writer"
37,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,1,nm0016013,actor,None,None,nm0016013,Luis Alarcón,1929.0,NaN,"actor,special_effects"
38,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,2,nm0728971,actress,None,None,nm0728971,Patricia Rivadeneira,1964.0,NaN,actress
39,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,3,nm0721280,actor,None,None,nm0721280,Francisco Reyes,1954.0,NaN,"actor,soundtrack"
40,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,4,nm1415193,actress,None,None,nm1415193,Consuelo Castillo,NaN,NaN,actress
41,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,5,nm0749914,director,original director,None,nm0749914,Raoul Ruiz,1941.0,2011.0,"director,writer,producer"
42,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,6,nm0765384,director,completion director,None,nm0765384,Valeria Sarmiento,1948.0,NaN,"editor,director,writer"
43,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,7,nm1360635,writer,None,None,nm1360635,Pía Rey,NaN,NaN,"set_decorator,art_director,art_department"
44,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,8,nm0462571,producer,producer,None,nm0462571,Leo Kocking,1951.0,NaN,"cinematographer,director,producer"
45,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,9,nm1856792,producer,producer,None,nm1856792,Andrés Racz,1948.0,2011.0,"producer,director,writer"
46,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,10,nm0005948,composer,None,None,nm0005948,Jorge Arriagada,1943.0,NaN,"composer,soundtrack,music_department"
47,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,tt0111414,1,nm0246005,actor,None,"[""The Man""]",nm0246005,Tommy Dysart,NaN,NaN,actor
48,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,tt0111414,2,nm0398271,director,None,None,nm0398271,Frank Howson,1952.0,NaN,"actor,writer,producer"
49,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,tt0111414,3,nm3739909,producer,producer,None,nm3739909,Barry Porter-Robinson,NaN,NaN,"producer,art_department"